/*Estilos */
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,600i');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    color: #1f1f1f;
    background: linear-gradient(to top, #f2f9fe, #d6f0fd );
    font: 400 16px/1.6 'Libre Franklin', sans-serif;
    color: rgb(0,0,0);
    overflow-x: hidden;
    word-wrap: break-word;
}

h1, h2, h3 {
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    line-height: 1em;
    margin-bottom: 3rem;
}

h2 {
    color: #000;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px 0 10px 0;
    text-align: center;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.margenes {
    padding: 0 50px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }    
    h2 {
        font-size: 2rem;
    }    
    h3 {
        font-size: 1.5rem;
    }    
    p {
        font-size: 1.1rem;
    }
}

a {
    color:rgba(0, 0, 0, 1);
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 0, 0.5);
}

abbr {
    text-decoration: none;
}

cite {
    font-style: normal;
}

iframe {
    border: 0;
}

figcaption {
    font-size: 0.8rem; 
}

/*Clases aplicadas a los elementos multimedia del sitio */
.imgFluid {
    max-width: 100%;
    height: auto;

}


.videoFluid {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    border: 5px solid rgb(77,156,216);
}

.videoFluidItem {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.videoFluid::before {
    display: block;
    content: "";
    padding-top: 56.25%;
}

/*Clases para alineamiento de textos*/
.textCenter {
    text-align: center;
}

/*Clase para esconder un elemento que será únicamente visible a los lectores de pantalla*/
.sr {
    position:absolute;
    height:1px;    
    width:1px;    
    overflow:hidden;    
    clip:rect(1px, 1px, 1px, 1px);
}

/****************************
Contenedores del sitio
*****************************/
main {
    width: 100%;
}

section {
    padding: 50px 0;
    
}

header {
    padding: 15px 0;
}

footer {
    padding: 30px;
}

/*Contenido del footer*/

footer {
    font-size: 0.9rem;
    position: relative;
    text-align: center;
}

footer p {
    font-size: 0.75rem;
    margin-bottom: 0;
}

.footer ul {
    list-style-type: none;
    padding: 30px 0;
}

.goTop {
    position: absolute;
    right: 15px;
    bottom: 0px;
    font-size: 2rem;
    color: rgba(0,0,0,0.8)
}

@media (min-width: 768px) {
    footer {
        text-align: left;
    }
    .footer {
        display:flex;
        justify-content: space-between;
    }
    .footer ul li {
        display: inline-block;
    }    
    .footer ul li::after {
        content: "•";
        padding-right: 8px;
        padding-left: 8px;
    }    
    .footer ul li:last-child::after {
        content: "";
        padding-right: 0;
        padding-left: 0;
    }
}

/*Las reglas que van a continuación consiguen que los contenidos dentro de .contaninerfluid o .container se adapten a los diversos dispositivos.*/
.containerFluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    

}
.section {
 
    display: flex;
}

.article {
    flex: 1 1 40%;
    color: #444;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0px;
    flex: 1 1 45%;
    background: #f5f5f5;
}

.article a {
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    padding: 10px;
    background: #65acd4;
    margin: 10px 0;
    display: inline-block;
}
.articulos {
    background: #f7f7f7;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}
 
@media all and (max-width: 1120px) {
    .section {
        flex-direction: column;
    }
}
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
}
  
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
}
  
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
}
  
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}

/****************************
Menús de navegación del sitio
*****************************/

/*Menú principal*/
nav.navbar {
    padding: 15px 0;
    text-transform: uppercase;
}

nav.navbar ul {
    list-style-type: none;
}

nav.navbar li {
    text-align: center;
    padding-bottom: 5px;
}

nav.navbar a.current {
    border-bottom: 3px solid;
}

@media (min-width: 576px) {
    nav.navbar ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/*Efecto de animación para el estado :hover de los enlaces*/
nav.navbar a {
    position: relative;
    padding-bottom: 5px;
}

nav.navbar a:hover::after {
    width: 100%;
}

nav.navbar a::after {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    transition: width 0.5s ease;
    border-bottom: 3px solid;
    content: "";
}

nav.navbar li.logo a:hover::after, nav.navbar a.current:hover::after {
    width: 0%;
}


/*Menú de migas de pan*/
ul.breadcrumb {
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style: none;
    text-align: center;
}

ul.breadcrumb li {
    display: inline-block;
}
  
ul.breadcrumb li + li {
    padding-left: 7px;
}

ul.breadcrumb li + li::before {
    padding-right: 7px;
    content: "/";
}

ul.breadcrumb li.current  {
    color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 576px) {
    ul.breadcrumb {
        text-align: left;
    }
}

/*Navegación descripción de objetivos*/
nav.aside {
    text-align: center;
    margin-bottom: 30px;
}

nav.aside ul {
    list-style-type: none;
    padding-top: 15px;
}

nav.aside img {
    width: 50%;
}

@media (min-width: 576px) {
    nav.aside {
        text-align: left;
    }
}

/****************************
Página index.html
*****************************/
ul.home {
    list-style-type: none;
}

ul.home li {
    line-height: 0;
    padding: 15px;
}

ul.home li img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.lead {
    font-size: 1.25rem;
}

@media (min-width: 576px) {
    ul.home.gridContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, 50%);
    }
    p.lead {
        text-align: center;
    }
}

@media (min-width: 768px) {
    ul.home.gridContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, 33.33333%);
    }
}

@media (min-width: 992px) {
    ul.home.gridContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, 25%);
    }
    p.lead {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    ul.home.gridContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, 16.66666%);
    }
}

/****************************
Página objetivos.html
*****************************/
div.goals {
    margin-top: 30px;
}

div.goals>div {
    margin-bottom: 15px;
}

div.goals h2 {
    text-align: center;
}

div.goals img {
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.goals a.more {
    font-size: 0.85rem;
}

@media (min-width: 992px) {
    div.goals.gridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
    div.goals.gridContainer>div:nth-child(odd) {
        grid-column: 1 / span 2;
    }
    div.goals.gridContainer>div:nth-child(even) {
        grid-column: 2 / span 2;
    }
    div.goals.gridContainer>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div.goals.gridContainer>div img {
        width: 45%;
        padding: 15px;
        margin-top: 0;
        margin-bottom: 0;
    }
    div.goalsContent {
        width: 50%;
    }
    div.goals h2 {
        text-align: left;
    }
    div.goals p {
        text-align: justify;
        hyphens: auto;
    }
}

/***********************************
Formulario
************************************/
fieldset {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 30px;
}

legend {
    font-weight: 600;
    font-size: 1.6rem;
}

label {
    display: block;
    margin-top: 15px;
}

input[type="checkbox"]+label {
    display: inline;
}

input, textarea, select {
    display: block;
    width: 100%;
}

textarea {
    height: 300px;
}

input, select, textarea {
    padding: 7px;
}

input {
    padding: 7px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

input:focus, select:focus, textarea:focus {
    background-color: rgba(0, 0, 0, 0.05);
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

input[type="submit"] {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(0,0,0);
    border: none;
    color: rgb(255,255,255);
    text-transform: uppercase;
    letter-spacing: 1px;
}

form p {
    font-size: 0.875rem;
}

@media (min-width: 992px) {
    form {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}













    
    


    














